.navbar
	.container
		a(href="index.html").navbar-brand Glo-Kinopoisk
	.container
		.jumbotron
			h3.text-center Поиск фильмов
			form#search-form
				input(type="text", placeholder="Введите название")#search-text.form-control
	.container
		#movies.row
